body{
    background-color: #fef6e4;
    font-family: 'PT Sans', sans-serif;
    color: #172c66;
}
.heading{
    background-color: #001858;
    color:#8bd3dd;
    width: 100%;
    padding: 10px;
    font-size: 25;
    margin: 0;
}
hr{
    width: 150;
}
#camera,#snapshot{
    width: 300px;
    height: 300px;
    border: 5px groove #f3d2c1;
}
button{
    font-size: 20px;
    background-color: #8bd3dd;
    color: #001858;
}
.results{
    background-color: #f582ae;
    color: #001858;
    font-size: 25;
    margin: 10px;
    padding: 10;
}